<div class="header">
  <h1 class="title is-3 m-2 py-4">Employees</h1>
</div>

<div class="results">
  <div class="columns is-multiline mt-5">
    <% @employees.each do |employee|%>
      <div class="column box is-one-quarter has-background-primary-light m-5"><%= link_to employee.name, employee %></div>
    <% end %>
  </div>
</div>
